*{
    margin: 0px;
    padding: 0px;
}

footer{
    width: 100%;
    background-color: #dddddd;
    height: 83px;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

li{
    list-style: none;
}