<div class="main">
    <div class="container">
        <form [formGroup]="formulario">
        <header><h2> New Recipie </h2> </header>
   

    <h3>Name</h3>
    <input type="text" class="name" formControlName="name">

    <h3>Category</h3>
    <input type="search" class="category" formControlName="categories" [formControl]="categories">
     <ul *ngIf="mostrarLista">
        <li  *ngFor="let categoria of categoriesResults$ | async">
            <p (click)="categoriaEscolhida(categoria.strCategory)">{{ categoria.strCategory }}</p>
        </li>
    </ul> 

    <h3>Ingredients</h3>
    <input type="text" class="ingredients" formControlName="ingredients">

    <h3>Description</h3>
    <input type="text" class="description" formControlName="description">

    <button class="btn" type="submit" (click)="InputValues()">Submit form</button>
            </form>
</div>
</div>

 <app-categories-details [Receita]="receitas" *ngIf="apagaComponent"><app-categories-details>