<div class="main">
  <div class="container">
    <header>
      <h2 class="search">Pesquisar</h2>

      <div class="subtext">
        <h2>O que tem na sua cozinha?</h2>
        <p>coloque algum dos ingredientes</p>
      </div>
    </header>

    <input type="text" placeholder="Digite seus ingredientes" />
    <div class="">
      <ul class="row">
        <li class="col" [routerLink]="['/recipies-details', recipiesInfo['Lancashire'].strMeal]">
          <img [src]="recipiesInfo['Lancashire'].strMealThumb" alt="" />
          <i class="bi bi-heart"></i>
          <p class="nome-alimento"> {{ recipiesInfo['Lancashire'].strMeal }}</p>
        </li>
      <li class="col" [routerLink]="['/recipies-details', recipiesInfo['Dumpling'].strMeal]">
          <img [src]="recipiesInfo['Dumpling'].strMealThumb" alt="" />
          <i class="bi bi-heart"></i>
          <p class="nome-alimento"> {{  recipiesInfo['Dumpling'].strMeal }}</p>
          </li>
        <li class="col" [routerLink]="['/recipies-details', recipiesInfo['Pancakes'].strMeal]">
          <img [src]="recipiesInfo['Pancakes'].strMealThumb" alt="" />
          <i class="bi bi-heart"></i>
          <p class="nome-alimento"> {{ recipiesInfo['Pancakes'].strMeal }}</p>
        </li>
        <li class="col" [routerLink]="['/recipies-details', recipiesInfo['Brownies'].strMeal]">
          <img [src]="recipiesInfo['Brownies'].strMealThumb" alt="" />
          <i class="bi bi-heart"></i>
          <p class="nome-alimento"> {{ recipiesInfo['Brownies'].strMeal }}</p>
        </li> 
      </ul>
    </div>
  </div>
</div>
