<div class="main">
  <div class="container">
    <header>
      <h2 class="search">Pesquisar</h2>

      <div class="subtext">
        <h2>O que tem na sua cozinha?</h2>
        <p>coloque algum dos ingredientes</p>
      </div>
    </header>

      <input type="text" placeholder="Digite seus ingredientes" />
      <div class="">
      <ul class="row">
        <li class="col">
          <img [src]="img" alt="">
       <i class="bi bi-heart"></i>
        </li>
        <li class="col">
           <i class="bi bi-heart"></i></li>
        <li class="col">   
           <i class="bi bi-heart"></i></li>
        <li class="col"> 
             <i class="bi bi-heart"></i></li>
      </ul>
    </div>

  </div>
</div>
