<div class="main">
  <div class="container">
    <header>
      <h2 class="search">Pesquisar</h2>

      <div class="subtext">
        <h2>O que tem na sua cozinha?</h2>
        <p>coloque algum dos ingredientes</p>
      </div>
    </header>

    <input type="text" placeholder="Digite seus ingredientes" [formControl]="input" />

    <table
    class="table custom-bg">
    <thead>
      <tr>
        <th scope="col"><h2> Receitas </h2></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of results$ | async" [routerLink]="['/recipies-details', result.strMeal]">
        <td [style.color]="'black'">
          <img class="pic-table" [src]="result.strMealThumb" alt="">
          <p class="Meal-name"> {{ result.strMeal }}</p>
        </td>
      </tr>
    </tbody>
  </table>

    <div class="">
      <ul class="row">
        <li class="col">
          <img class="img-padrao" [src]="recipiesInfo['Lancashire'].strMealThumb" alt="" 
            [routerLink]="['/recipies-details', recipiesInfo['Lancashire'].strMeal]"/>
          <i class="bi bi-heart"></i>
          <p class="nome-alimento"> {{ recipiesInfo['Lancashire'].strMeal }}</p>
        </li>
      <li class="col" >
          <img class="img-padrao" [src]="recipiesInfo['Dumpling'].strMealThumb" alt="" 
          [routerLink]="['/recipies-details', recipiesInfo['Dumpling'].strMeal]" />
          <i class="bi bi-heart" [routerLink]="['/favi-component', recipiesInfo['Dumpling'].strMeal]"></i>
          <p class="nome-alimento"> {{  recipiesInfo['Dumpling'].strMeal }}</p>
          </li>
        <li class="col" >
          <img class="img-padrao" [src]="recipiesInfo['Pancakes'].strMealThumb" alt="" 
          [routerLink]="['/recipies-details', recipiesInfo['Pancakes'].strMeal]"/>
          <i class="bi bi-heart"></i>
          <p class="nome-alimento"> {{ recipiesInfo['Pancakes'].strMeal }}</p>
        </li>
        <li class="col">
          <img class="img-padrao" [src]="recipiesInfo['Brownies'].strMealThumb" alt=""  
          [routerLink]="['/recipies-details', recipiesInfo['Brownies'].strMeal]"/>
          <i class="bi bi-heart"></i>
          <p class="nome-alimento"> {{ recipiesInfo['Brownies'].strMeal }}</p>
        </li> 
      </ul>
    </div>
  </div>
</div>
