* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    align-items: center;
    min-height: 91vh;
    width: 100%;

    flex-direction: column;
    z-index: -1;
}

.search {
    margin-top: 20%;
    margin-bottom: 10%;
    text-align: center;
}

.subtext {
    align-content: end;
}

input {
    margin-top: 20px;
    border-radius: 15px;
    border-style: solid;
    border-color: #08b6c1;
    border-width: 3px;
    align-items: center;
    width: 40vh;
    height: 5vh;

}
tr{
    height: 85px;

}

.custom-bg, .custom-bg tr, .custom-bg td {
    background-color: #F6F6F6 !important;
 }

.pic-table{
    height: 76px;
    width: 71px;
    border-radius: 15px;
    border-style: solid;
    object-fit: cover;
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li {
    list-style: none;
    max-height: 183px;
    height: 183px;
    width: 146px;
    padding-bottom: 100px;
    max-width: 146px;
    padding: 7vh;
    border-style: solid;
    border-color: black;
    margin: 19px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}

table{
    width: 310px;
    position: relative;
    margin-bottom: 10px;
}
td{
    display: flex;
}
th{
    text-align: center;
  }

.Meal-name{
    font-size: small;
    font-weight: bold;
    margin: 13px;
}

.bi-heart{
   position: absolute;
   top: 4%;
   right: 5%;
   padding: 2%;
   background-color: rgb(255, 255, 255);
   border-style: none;
   border-radius: 10px;
}

.img-padrao{
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0%;
    left: 0%;
    position: absolute;
    border-radius: 10px;
}

.nome-alimento{
    z-index: 2;
    position:absolute;
    color: white;
    font-size: large;
    
    text-shadow: 1px 1px black ;
    left: 6%;
    bottom  : 5%;
}